<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="~/statics/index.css">
</head>
<body style=>
    <title>My Test Page</title>
    <p>The body of my page.</p>
    <!-- copied script elements -->
<!--<script>
  window.watsonAssistantChatOptions = {
      integrationID: "cd4b4d3a-9bd0-4668-93e8-dfe276d9fde1", // The ID of this integration.
      region: "au-syd", // The region your integration is hosted in.
      serviceInstanceID: "82b93eed-38b3-43f9-b7e5-fa2ce040cb0a", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js";
    document.head.appendChild(t);
  });
</script>-->
    </body>
</html>
