<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="statics/index.css">
</head>
<section class="hero">
    <div class="hero-content">
        <h1 class="hero-title">
            Botify
        </h1>
        <h2 class="hero-subtitle">
            A Bot that gives Spotify Recommendations
        </h2>
        <div class="but">
                <button type="submit" class="hero-button">
                    <div>
                        Get Recomendations
                    </div>
                </button>
        </div>
    </div>
</section>
    <!-- copied script elements -->
<!--<script>
  window.watsonAssistantChatOptions = {
      integrationID: "cd4b4d3a-9bd0-4668-93e8-dfe276d9fde1", // The ID of this integration.
      region: "au-syd", // The region your integration is hosted in.
      serviceInstanceID: "82b93eed-38b3-43f9-b7e5-fa2ce040cb0a", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js";
    document.head.appendChild(t);
  });
</script>-->
</html>
